<div class="border-b border-neutral" data-controller="form">
  <%= form_with model: provider, id: dom_id(provider, "form"), class: "flex flex-cols justify-between" do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "Provider Name", class: "text-white bg-custom-bg-main m-2" %>
    </div>
    <div class="flex justify-center m-2 space-x-2">
      <%= f.submit provider.new_record? ? "Add" : "Update", class: "btn btn-outline text-white bg-custom-bg-main" %>

      <% unless provider.new_record? %>
        <%= link_to "Back", providers_path, class: "btn btn-outline text-white bg-custom-bg-main" %>
      <% end %>
    </div>
  <% end %>
</div>