<div class="w-full">
  <% content_for :title, "Providers" %>
  <h1 class="text-4xl font-bold text-white">Providers</h1>

  <%= render partial: "shared/resource_table", locals: { 
    collection: @providers,
    collection_path: new_provider_path,
    frame_id: "providers",
    headers: { "Provider Name" => 'name' },
    form: true
  }%>
</div>