<div class="overflow-x-auto rounded-lg">
  <table class="table min-w-full rounded-lg table-zebra">

    <!-- Body -->
    <tbody>
      <!-- Form Row -->
      <% if form.present? %>
        <%= render partial: "shared/resource_form_row", locals: {
          headers: headers,
          dropdowns: dropdowns,
          collection: collection,
          collection_path: collection_path,
        } %>
      <% end %>

      <!-- Turbo Frame for Collection -->
      <% collection.each do |item| %>
        <%= render partial: item, locals: { resource: item } %>
      <% end %>
    </tbody>
  </table>
</div>