<tr class="">
  <%= form_with(model: collection.new, url: collection_path, method: :post, class: "w-full") do |f| %>
    <% headers.each do |attribute| %>
      <td>
        <% if dropdowns.keys.include?(attribute) %>
          <!-- Dropdown -->
          <%= f.collection_select attribute, dropdowns[attribute], :first, :last,
                { prompt: "Select #{attribute}" },
                class: "block rounded-md border border-gray-200 outline-none w-full" %>
        <% else %>
          <%= f.text_field attribute,
                class: "block rounded-md border border-gray-200 outline-none w-full" %>
        <% end %>
      </td>
    <% end %>
    <td>
      <%= f.submit "Add", class: "btn btn-outline" %>
    </td>
  <% end %>
</tr>
