<div id="<%= dom_id fine_tune %>">
  <p class="my-5 text-white">
    <strong class="block mb-1 font-medium">Name:</strong>
    <%= fine_tune.name %>
  </p>
  <p class="my-5 text-white">
    <strong class="block mb-1 font-medium">Base Model:</strong>
    <%= fine_tune.base_model.name %>
  </p>

  <div class="flex items-center justify-start m-2">
    <%= link_to "Add fine_tune", new_base_model_fine_tune_path(fine_tune.base_model), class: "rounded-lg px-4 bg-blue-600 text-white block font-medium" %>
  </div>
</div>