<tr class="bg-neutral">
  <td class="">
    <%= form_with model: base_model, id: dom_id(base_model, "form"), class: "flex flex-cols" do |f| %>
      <%= f.text_field :name, placeholder: "Base Model Name", class: "rounded-md border-gray-200" %>
    </td>
    <td class="">
      <%= f.collection_select :company, BaseModel.distinct.pluck(:company).compact, { prompt: "Select a Company" }, class: "rounded-md border-gray-200" %>
    </td>
    <td class="text-white ">
      <%= f.submit base_model.new_record? ? "Add" : "Update", class: "btn btn-outline text-white" %>
    <% end %>
  </td>
</tr>