<div class="w-full">
  <% content_for :title, "Base Models" %>
  <h1 class="text-4xl font-bold text-white">Base Models</h1>

  <%= render partial: "shared/resource_table", locals: { 
    collection: @base_models,
    collection_path: base_models_path,
    frame_id: "base_models",
    headers: { "Base Model" => 'name', "Company" => 'company' },
    dropdowns: {},
    form: true
  }%>
</div>